.coffeeStoreItem {
  padding-left: 5vw;
  padding-top: 2rem;
}

.backLink {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  color: #373b64;
}
.name {
  color: rgba(255, 255, 255, 0.899);
  font-weight: 800;
  font-size: 2.25rem;
}
.image {
  border-radius: 0.75rem;
  width: 90vw;
  height: auto;
}

.container {
  width: 90vw;
  height: auto;
  background-color: rgb(225, 216, 217);
  border-radius: 0.75rem;
  margin: 2rem 0;
  padding: 1rem;

  font-weight: 700;
}
.address {
  font-size: 1.75rem;
}
.stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.75rem;
}
.star {
  color: rgb(89, 61, 199);
}
.btn {
  background-color: aqua;
  padding: 0.8rem 2rem 1rem 2rem;
  font-size: 1.75rem;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
}

@media screen and (min-width: 768px) {
  .section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .image {
    width: 40vw;
    height: 35vw;
  }
  .container {
    width: 40vw;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .section {
    justify-content: flex-start;
  }
  .image {
    width: 30vw;
    height: auto;
    max-height: 28vw;
  }
  .container {
    width: auto;
    padding: 2rem;
    margin: 0;
    margin-left: 2rem;
  }
}
