.cardLayout {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}
.heading2 {
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  color: white;
  padding-bottom: 1rem;
}

.section1,
.section2 {
  margin-top: 2rem;
  border-top: 1px solid white;
}

@media screen and (min-width: 768px) {
  .cardLayout {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  .cardLayout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1600px) {
  .cardLayout {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
